{% extends "base.html" %}


{% load bootstrap3 %}
{% load static %}

{% block styles %}
        
{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="cards_wrap">
    <div class="card_item">
      <div class="card_inner">
        <div class="card_top">
          <img src = "{% static 'static/images/clay-banks-PXaQXThG1FY-unsplash.jpg' %}" alt="car" />
        </div>
        <div class="card_bottom">
          <div class="card_category">
            Computer
          </div>
          <div class="card_info">
            <p class="title">Computer</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
          <div class="card_creator">
            8
          </div>
        </div>
      </div>
    </div>
    <div class="card_item">
      <div class="card_inner">
        <div class="card_top">
          <img src = "{% static 'static/images/kari-shea-1SAnrIxw5OY-unsplash.jpg' %}" alt="car" />
        </div>
        <div class="card_bottom">
          <div class="card_category">
            Laptop
          </div>
          <div class="card_info">
            <p class="title">Mac Book</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ab.
            </p>
          </div>
          <div class="card_creator">
            7
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}



